.loginContainer{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('../images/login-bg-3.jpg');
    background-size: contain;
    background-position: left;
    background-position: -17%;
    z-index: 99;
}

.header{
    height: 8%;
    width: 100%;
    background-color: rgb(61, 70, 80);
}

.signupBtn{
float: right;
margin-right: 1%;
margin-top: .45%;
border-radius: 50px;
height: 75%;
width: 10%;
background-color: whitesmoke;
border: none;
outline: none;
}

.signupBtn:focus{
    outline: none;
    outline-style: none;
}

.signupBtnText{   
padding: 7;
}

.loginBtn{
float: right;
margin-right: .50%;
margin-top: .45%;
border-radius: 50px;
height: 75%;
width: 10%;
border: none;
background-color: whitesmoke;
}
.loginBtn:focus{
    outline: none;
}

.loginBtnText{
padding: 7;
}

.loginModal{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 45%;
    /* background-color: whitesmoke; */
    border: solid black 2px;
    position: fixed;
    justify-self: center;
    left: 425;
    top: 130;
    border-radius: 40px;
}

.loginModalHead{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    height: 15%;
    width: 100%;
    background-color: rgb(185, 20, 20);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.modalHeaderText{
position: absolute;
margin-right: 20%;
align-self: center;
color: whitesmoke;
}

.closeModalBtn{
    height: 82%;
    width: 7%;
    background-color: transparent;
    border: none;
    margin-top: 1.5%;
    margin-right: 1%;
}
.closeModalBtn:focus{
    outline: none;
}

.loginModalBody{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding-right: 18%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.validateUserBtn{
    position: absolute;
    height: 15%;
    width: 45%;
    border-radius: 70px;
    margin-top: 65%;
    text-align: center;
    padding-top: .65%;
    margin-bottom: 12%;
    background-color: rgb(32, 92, 172);
    border: none;
    margin-left: 17.5%;
}
.validateUserBtn:focus{
    outline: none;
}

.usernameInput{
    position: relative;
    height: 55%;
    width: 135%;
    margin-bottom: 14%;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    font-size: 18px;
    outline-style: none;
}

.passwordInput{
    height: 55%;
    width: 135%;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    font-size: 18px;
    outline-style: none;
}

.recoverPassBtn{
    position: absolute;
    align-self: flex-end;
    bottom: 88;
    right: 65;
    background-color: transparent;
    border: none;
    color: blue;
}
.recoverPassBtn:focus{
    outline: none;
}
