.container-fluid.myTeamCont{
    height: 100%;
    width: 100%;
    contain: content;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: auto;
    background-image: url("../images/background1.jpg");
    background-size: cover;
}

.navBar{
    display: flex;
    height: 8%;
    width: 102%;
    margin-top: .10%;
    flex-direction: row-reverse;
}


.dropleft{
    float: right;
    flex-direction: row-reverse;
    border: hidden;
    outline: hidden;
}


.hamBtn {
    height: 55;
    width: 87;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../images/football-for-menu.png");
    }
.hamBtn:focus{
    outline: none;
}

.dropdown-menu{
    height: 90%;
}
#dropdown-menu{
    background-color: slategrey;
    }

.dropdown-list{
    list-style: unset;
    width: 1330px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: slategray ;
}


.dropdown-text{
    margin-top: .1%;
    background-color: slategray;
    font-size: 18;
    height: 100%;
    outline: none;
    border: none;
}
.dropdown-text:focus{
    outline: none;
}