.playersPage{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: 
    url("../images/background1.jpg");
    background-size: cover;
}

.navBar{
    display: flex;
    height: 8%;
    width: 102%;
    margin-top: .10%;
    margin-bottom: 3%;
    flex-direction: row-reverse;
}

.dropleft{
    flex-direction: row-reverse;
    border: hidden;
    outline: hidden;
}

.btn.hamBtn {
    height: 55;
    width: 87;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    background-image: 
    url("../images/football-for-menu.png");
    }

.dropdown-menu{
    height: 90%;
}

#dropdown-menu{
    background-color: slategray;
}

.dropdown-list{
    list-style: unset;
    width: 1330px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: slategray ;
}


.dropdown-text{
    margin-top: .1%;
    background-color: slategray;
    font-size: 18;
    height: 100%;
    outline: none;
    border: none;
}

.playersCont{
    height: 100%;
    width: 100%;
    /* background-color: royalblue; */
    z-index: 1;
    margin: auto;
    position: relative;
    border: solid black 1.25px;
    display: flex;
}

.searchCont{
    height: 10%;
    width: 100%;
    background-color: silver;
    display: flex;
    z-index: 1;
    overflow-x: scroll;
    scroll-behavior: smooth;

}
.searchBar{
    height: 50%;
    width: 100%;
}
.searchInput{
font-size: 18px;
width: 80%;
margin-left: 1%;
margin-top: 1%;
}

.moreButtons{
    height: 100%;
    width: 58%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1%;
    padding-top: .25%;
    margin-right: 1%;
}
.watchlistCont{
display: flex;
flex-direction: column;
}
.watchlistBtn{
    height: 100%;
    width: 100%;
    border-radius: 40px;
}
.compPlatersCont{
    display: flex;
    flex-direction: column;
}
.comparePlayersBtn{
    height: 55%;
    width: 60%;
    border-radius: 40px;
}
.nflNewsCont{
    display: flex;
    flex-direction: column;
}
.nflNewsBtn{
    height: 65%;
    width: 100%;
    border-radius: 40px;
}
.fantasyNewsCont{
    display: flex;
    flex-direction: column;
}
.fantasyNewsBtn{
    height: 65%;
    width: 80%;
    border-radius: 40px;
}

.statsBar{
    height: 6%;
    width: 100%;
    background-color: whitesmoke;
    position: absolute;
    margin-top: 4.0001%;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rank{
    display: flex;
    flex-direction: column;
}

.points{
    display: flex;
    flex-direction: column;
}

.position{
    display: flex;
    flex-direction: column;
}

.rostered{
    display: flex;
    flex-direction: column;
}

.playersHolder{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: whitesmoke;
    margin-top: 6.35%;
    margin-bottom: 5%;
    border: solid black 2px;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    /* scroll-behavior: smooth; */
}

.players{
    height: 7.5%;
    width: 100%;
    /* background-color: gray; */
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    z-index: 2;
    /* justify-content: space-evenly; */
}

.newClass{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    width: 100%;
    justify-content: space-between;
    background-color: silver;
}

.showDetailsBtn{
    display: flex;
    flex-direction: row;
    /* margin-bottom: 1%; */
    width: 100%;
    justify-content: space-between;
    /* background-color: silver; */
}

.playerImg{
    background-color: gray;
    border-radius: 50px;
    border: solid black 1px;
    height: 45px;
    width: 45px;

}

.playerNameText{
padding-top: 1%;
/* background-color: blue; */
}

.avgDraftPosText{
    padding-top: 1%;
    /* background-color: red; */
}

.byeWeekText{
    padding-top: 1%;
    /* background-color: brown; */
}

.positionText{
    padding-top: 1%;
    /* background-color: chartreuse; */
}

.teamText{
    padding-top: 1%;
    /* background-color: yellow; */
}

.playerDetailsModal{
    height: 70%;
    width: 60%;
    background-color: gray;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    top: 170;
    margin-left: 20%;
    border-radius: 15px;
    visibility: hidden;
}

.modalHead{
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: greenyellow; */
    border-bottom: solid black 2px;
}

.closeModalBtn{
    height: 8%;
    width: 5%;
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    right: 7;
    margin-top: .75%;
}

.modalBody{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: hotpink; */
}

.playerIconForModal{
    height: 75%;
    width: 7%;
    background-color: teal;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 40px;
}

.playerNameTextForModal{
    margin-left: 1.75%;
    margin-top: 2.80%;
}

.gameDetailsForModal{
    margin-left: .80%;
    margin-top: 3.42%;
}

/* .idk{
    margin-top: 1.50%;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
} */

.highlightsBar{
    height: 12%;
    width: 100%;
    /* background-color: slateblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid black 2px;
}

.makeFlexColumns{
    display: flex;
    flex-direction: column;
}

.btnBar{
    height: 10%;
    width: 100%;
    /* background-color: salmon; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    border-bottom: solid black 2px;
}

#btnOnBtnBar{
    background-color: transparent;
    outline: none;
    border: none;
}