.container-fluid.playersPage{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-image: 
    url("../images/background1.jpg");
    background-size: cover;
}

.navBar{
    display: flex;
    height: 8%;
    width: 102%;
    margin-top: .10%;
    margin-bottom: 3%;
    flex-direction: row-reverse;
}

.dropleft{
    flex-direction: row-reverse;
    border: hidden;
    outline: hidden;
}

.hamBtn {
    height: 55;
    width: 87;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: 
    url("../images/football-for-menu.png");
    }
    .hamBtn:focus{
        outline: none;
    }

.dropdown-menu{
    height: 90%;
}

#dropdown-menu{
    background-color: dimgrey;
    /* background-image: url('../images/navbar-image-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 88%;
    background-blend-mode: hard-light; */
}

.dropdown-list{
    list-style: unset;
    width: 1330px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}


.dropdown-text{
    margin-top: .1%;
    background-color: transparent;
    font-size: 20;
    color: black;
    font-weight: bolder;
    height: 100%;
    outline: none;
    border: none;
}
.dropdown-text:focus{
    outline: none;
}

.playersCont{
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: auto;
    position: relative;
    border: solid black 1.25px;
    display: flex;
}

.makeFlexColumnsOne{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.makeFlexColumnsTwo{
    display: flex;
    flex-direction: column;
}

.searchCont{
    height: 10%;
    width: 100%;
    background-color: silver;
    display: flex;
    flex-direction: row;
    z-index: 1;
    overflow-x: scroll;
    scroll-behavior: smooth;

}
.searchBar{
    height: 100%;
    width: 100%;
    display: flex;
}
.searchBarBtn{
    margin-top: 1.2% ;
    height: 60%;
    width: 4.5%;
    position: relative;
    background-color: transparent;
    color: black;
    border: none;
}
.searchBarBtn:focus{
    outline: none;
}
.searchInput{
    height: 75%;
    width: 80%;
    margin-top: .65%;
    margin-left: 1.5%;
    border-radius: 8px;
    text-align: center;
}
.searchInput:focus{
    outline: none;
}

.moreButtons{
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-left: 1%;
    padding-top: .25%;
    margin-right: 1.75%;
}
.watchlistBtn{
    height: 70%;
    width: 84%;
    border-radius: 40px;
}
.watchlistBtn:focus{
    outline: none;
}
.comparePlayersBtn{
    height: 70%;
    width: 45%;
    border-radius: 40px;
}
.comparePlayersBtn:focus{
    outline: none;
}
.nflNewsBtn{
    height: 70%;
    width: 75%;
    border-radius: 40px;
}
.nflNewsBtn:focus{
    outline: none;
}
.fantasyNewsBtn{
    height: 70%;
    width: 55%;
    border-radius: 40px;
}
.fantasyNewsBtn:focus{
    outline: none;
}

.statsBar{
    height: 120%;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    padding-top: .40%;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.playersHolder{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: whitesmoke;
    margin-top: 6.35%;
    margin-bottom: 5%;
    border: solid black 2px;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    /* scroll-behavior: smooth; */
}

.players{
    height: 7.5%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    z-index: 2;
}

.playerStats{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    width: 100%;
    justify-content: space-between;
    background-color: silver;
}

.showDetailsBtn{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.playerImg{
    background-color: gray;
    border-radius: 50px;
    border: solid black 1px;
    height: 45px;
    width: 45px;
}
#paddingTopOnePerc{
    padding-top: 1%;
}

/* START MODAL CONTENT */
.playerDetailsModal{
    height: 70%;
    width: 60%;
    background-color: gray;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    top: 170;
    margin-left: 20%;
    border-radius: 15px;
    visibility: hidden;
}

.modalHead{
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: solid black 2px;
}

.closeModalBtn{
    height: 8%;
    width: 5%;
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    right: 7;
    margin-top: .75%;
}
.closeModalBtn:focus{
    outline: none;
}

.modalBody{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.playerIconForModal{
    height: 75%;
    width: 7%;
    background-color: teal;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 40px;
}

.playerNameTextForModal{
    margin-left: 1.75%;
    margin-top: 2.80%;
}

.gameDetailsForModal{
    margin-left: .80%;
    margin-top: 3.42%;
}
.highlightsBarForModal{
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid black 2px;
}

.btnBarForModal{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    border-bottom: solid black 2px;
}

#btnOnBtnBar{
    background-color: transparent;
    outline: none;
    border: none;
}
/* END MODAL CONTENT */